@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@{

}

@*<div class="card-container">
        <div class="card">
            <div class="row firstpage">
                <div class="profile-picture col-">
                    <img src="https://picsum.photos/200" alt="Image 1">
                </div>
                <div class="col col-sm">
                    <div class="row">
                        <div class="col col-sm text-center">
                            <h1>
                                Welcome to PetPaws
                                Where Hearts and Homes Unite for Pets in Need!
                            </h1>
                            <br />
                            <h2>Embrace Unconditional Love, Adopt a Furry Friend Today!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<head runat="server">
    <title>Welcome to PetPaws</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body class="bg-light">
    <form id="form1" runat="server">
        <div class="container card-container mt-5">
            <div class="card shadow p-3 mb-5 bg-white rounded text-center">
                <img src="https://www.creativefabrica.com/wp-content/uploads/2020/02/13/Pet-Logo-Graphics-1-6-580x386.jpg" alt="Adorable Pet" class="img-fluid rounded-circle mx-auto d-block mb-4" style="max-width: 200px;" />

                <h1 class="display-4">Welcome to PetPaws</h1>

                <p class="lead">At PetPaws, we believe in the transformative power of the human-animal bond. Our mission is to connect loving families with pets in need, providing a forever home for every adorable creature. When you choose to adopt from us, you're not just getting a pet; you're gaining a lifelong companion. Explore our website and embark on a heartwarming journey of pet adoption.</p>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </form>
</body>